body {
}


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 0px;
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

/* .trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
} */

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}




.other .left,
.other .right {
  position: relative;
  cursor: pointer;
}

.other .right{
  background-color:#ffd0d0; 
   /* #BA1D24; */
   transition: 0.5s linear;
}

.other .right:hover{
  background-color: #BA1D24;
  transition:  0.5s linear;
}
.other .right:after {
  opacity: 0.2;
  
}

.other .left a,
.other .left p
/* .other .right a, */
/* .other .right p */
{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0s, opacity 1s linear;
}

.other .left:hover a,
.other .left:hover p,
.other .left:active a,
.other .left:active p
/* .other .right:hover a, */
/* .other .right:hover p */
{
  visibility: visible;
  transition: 2s;
  opacity: 1;
  transition: opacity 1.5s linear;
}


.other .md-1 {
  position: absolute;
  width: 50px;
  height: 45px;
  background: #BA1D24;
  right: calc(50% - 25px);
  top: 0px;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.6s;
  z-index: 1;
  
}

.other .left:hover .md-1,
.other .right:hover .md-1{
  width: 100%;
  top: 0;
  right: 0;
  border-radius: 0;
  height: 100%;
}

.other .left:hover .md-1 div{
  display: none;
  transition: visibility 0s 0s, opacity 0s linear;
}

.other .left .md-1 div{
  display: block;
  transition:  opacity 0s linear;
}

.other .left div{
  display: flex;
    flex-direction: column;
    align-items: center;
}


.other .link {
  text-transform: uppercase;
  font-family: var(--font-en);
  font-size: 15px;
  /* border: 3px solid #FFFFFF; */
  box-sizing: border-box;
  /* padding: .5rem 3rem; */
  border-bottom: 2px solid;
}
.other .link span{
  font-size: 20px;
}

.other .right .title, .other .right .link{
  color: #5C5C5C
}

.other .right:hover .title, .other:hover .right .link{
  color: #FFFFFF
}
